<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} 改密码 {% endblock %}

{% block body %}
    <br>
    <h1 align="center" style="font-weight: 400">修改密码</h1>
    <br>
    <div class="container" >
        <form class="form" action="#" method="post">
            {% csrf_token %}
                <br>
                <br>
                <br>
                <br>
            <div class="row">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2" style="background-color: #E9F2E1; height: 60px">
                        <h3 align="right" style="font-weight: 200">旧密码:</h3>
                    </div>
                    <div class="col-md-4" style="background-color: #E9F2E1; height: 60px">
                        <br>
                        <input class="form-control" type="password" name="old_password" placeholder="密码">
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2" style="background-color: #E9F2E1; height: 60px">
                        <h3 align="right" style="font-weight: 200">新密码:</h3>
                    </div>
                    <div class="col-md-4" style="background-color: #E9F2E1; height: 60px">
                        <br>
                        <input class="form-control" type="password" name="new_password" placeholder="密码">
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3" ></div>
                    <div class="col-md-6" style="background-color: #E9F2E1;">
                        <br>
                        <br>
                        <br>
                        <div align="center">
                            <button class="btn btn-default"> 提交 </button>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
        </form>
    </div>
{% endblock %}
