<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery-2.2.0.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h2 align="center" style="font-weight: 200">出错了</h2>
        <h3 align="center" style="font-weight: 200">您输入的原密码有错</h3>
    </div>
</body>
</html>