
<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} 会议信息导入 {% endblock %}

{% block body %}


<div class="container" style="height: 1400px; background-color: #F2F9FC; width: 1400px">
    <br>
    <h1 align="center" style="font-weight: 400">录入会议信息</h1>
    <br>
    <div class="container">
        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
    </div>
    <br>
    <br>
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <form action="{% url 'meeting_lead_in' %}" method="post" class="form">
            {% csrf_token %}
            <div class="row">
                <label for="product" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">产品 ：</p></label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="product" id='product' placeholder="">
                </div>
            </div>
            <br>
            <div class="row">
                <label for="name_of_meeting" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">活动名称 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="name_of_meeting" id='name_of_meeting' placeholder=""></div>
            </div>
            <br>
            <div class="row">
                <label for="rmm_of_meeting" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">活动负责人 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="rmm_of_meeting" id='rmm_of_meeting' placeholder=""></div>
            </div>
            <br>
            <div class="row">
                <label for="year" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">会议时间(年) ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="year" id='year' placeholder=""></div>
            </div>
            <br>
            <div class="row">
                <label for="month" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">会议时间(月) ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="month" id='month' placeholder=""></div>
            </div>
            <br>
            <div class="row">
                <label for="day" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">会议时间(日) ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="day" id='day' placeholder=""></div>
            </div>
            <br>
            <div class="row">
                <label for="city" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">城市 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" name="city" id='city' placeholder="请输入活动城市"></div>
            </div>
            <br>
            <div class="row">
                <label for="number_of_participant" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">参会人数上限 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" id="number_of_participant" name="number_of_participant" placeholder="参会活动人数"></div>
            </div>
            <br>
            <div class="row">
                <label for="target_client" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">参会目标客户群 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" id="target_client" name="target_client" placeholder="目标客户群"></div>
            </div>
            <br>
            <div class="row">
                <label for="weight_of_chairman" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">主席权重 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" id="weight_of_chairman" name="weight_of_chairman" placeholder="主席权重"></div>
            </div>
            <br>
            <div class="row">
                <label for="weight_of_speecher" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">讲者权重 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" id="weight_of_speecher" name="weight_of_speecher" placeholder="讲者权重"></div>
            </div>
            <br>
            <div class="row">
                <label for="weight" class='col-sm-3 control-lable'><p align="right" style="font-size: 15px">参会权重 ：</p></label>
                <div class="col-sm-9"><input class="form-control" type="text" id="weight_of_participant" placeholder="参会权重" name="weight_of_participant"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2"><input class="form-control" type="submit" value="提交" style="font-weight: bold"> </div>
            </div>
{#            <p> 会议时间: 年 <input type="text" name="year" > 月 <input type="text" name="month"> </P>#}
{#            <p> 活动主题 : <input type="text" name="theme" > </p>#}
{#            <p> 讲师: <input type="text" name="name_of_speecher"> </p>#}
{#            <p> 讲者类型 <input type="text" name="type_of_speecher"> </p>#}
{#            <p> 讲者城市 <input type="text" name="city_of_speecher"> </P>#}
{#            <p> 参会人数 <input type="text" name="number_of_participant"> </p>#}
{#            <p> 会议权重 <input type="text" name="weight_of_meeting"> </p>#}
{#            <p> <button> 提交 </button>#}
        </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
